
<% layout('layout/boilerplate') %>


<h1 class="d-inline-block">All Posts</h1>
<a class="btn btn-md btn-dark mb-3 d-inline-block mx-5" href="/bread/new">Add Post</a>

<ul>
    <% for(let each of bread){  %>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <% for(let img of each.images) { %> 
                    <img  class="img-fluid" src="<%= img.url%>" alt="">
                    <% } %> 
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= each.title %></h5>
                        <p class="card-text">
                            <small class="text-muted"><%= each.country %></small>
                        </p>
                        <p class="card-text"><%= each.recipe %></p>  
                        <a class="btn btn-md btn-primary" href="/bread/<%=each._id%> ">View <%= each.title %> </a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

</ul>
